[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
basedpyright = "*"
fastapi = "*"
greenlet = "*"
redis = "*"
sqlalchemy = "*"
uvicorn = "*"
sqlalchemy-stubs = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.13"
